.contact {
    max-width: 90%;
}

.contact h1 {
    margin-bottom: 1rem;
}
.contact h3 {
    text-align: justify;
}

.contacts-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 25px;

    justify-content: center;

    width: 50%;
    min-width: 500px;
    margin: 3rem auto;
}

.contacts-grid .plateforme {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}

.contacts-grid .plateforme img {
    width: 50%;
    transition: all 0.3s ease-in-out;
}
.contacts-grid .plateforme:hover img {
    width: 65%;
}
.contacts-grid .plateforme:hover {
    cursor: pointer;
}



.contacts-grid .plateforme.instagram img {
    filter: invert(1);
}
.contacts-grid .plateforme.mail img {
    filter: invert(1);
}

.contacts-grid .plateforme.mail {
    background-color: #f99dbc ;
}

.contacts-grid .plateforme.messenger {
    background-color: #8feaea  ;
}

.contacts-grid .plateforme.instagram {
    background-color: hsl(27,98%,75%);
}

.contacts-grid .plateforme.whatsapp {
    background-color: #b2f849 ;
}


/* Tablets */
@media only screen and (min-width: 700px) and (max-width: 1023px) {
}

/* Phone */
@media only screen and (max-width: 700px){
    .contacts-grid {
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 30vw 30vw;
        /* grid-template-rows: repeat(4, 30vw); */

        width: 90%;
        min-width: unset;
    }
}