header {
    position: fixed;
    top: 0;
    width: 100%;

    opacity: 0.92;
    background-color: white;
}

nav ul {
    padding: 1.5rem 5rem;

    display: flex;
    justify-content: space-between;
}


nav li a {
    font-size: 1.8rem;
    /* font-size: 1.4rem; */
    text-decoration: none;

    color: #30363b;
}



/* Tablets */
@media only screen and (min-width: 700px) and (max-width: 1023px){
    
}

/* Phone */
@media only screen and (max-width: 700px){
    nav li a {
        font-size: 1.4rem;
    }

    nav ul {
        justify-content: space-around;
        padding: 1.5rem; 
    }

    .hide-mobile {
        display: none;
    }
}